.bubble-background {
    background-color: #21083d;
    color: #e7efff;
    border-radius: 50%;
    /* border: 3px solid #12203a; */
    min-width: 100px;
    min-height: 100px;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: solid 3px #21083d;
    box-shadow: 10px 10px 1rem 0 rgba(0, 0, 0, 0.2);
}

.center-bubble-contents {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center-bubble-contents>* {
    margin-bottom: 1rem;
}

.profile-grid {
    /* background-color: #0c337b; */
    height: calc(100vh - 14rem);
    display: grid;
    grid-template-columns: repeat(4, calc(((100vw - 2 * (5rem)) / 4) - 3px));
    grid-template-rows: repeat(4, calc((100% - (2 * 1rem)) / 4));
    grid-gap: 1rem;
    padding: 1rem 5rem;
}

.button-hover-active:hover {
    filter: brightness(1.2);
}

.button-hover-active:active {
    filter: brightness(0.8);
}